@import "../../styles/settings/_settings";

.clientsContainer {
  width: 100%;

  .clientsWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: white;
    padding-top: 150px;
    padding-bottom: 150px;

    .containerTitle {
      @extend %fontTitleSmall;
      text-align: center;
      width: 100%;
      margin-bottom: 50px;
    }

    .containerColumns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;

      .containerColumnsInner {
        width: 33.33%;
        text-align: center;
        line-height: 1.8rem;

        @include media("<=tablet") {
          width: 100%;
        }

        .list {
          white-space: pre-wrap;
          text-transform: uppercase;
        }
      }

      .paddingColLeft {
        padding-right: 50px;

        @include media("<=tablet") {
          padding-right: 0;
        }
      }

      .paddingColCenter {
        padding-right: 25px;
        padding-left: 25px;

        @include media("<=tablet") {
          padding-right: 0;
          padding-left: 0;
        }
      }

      .paddingColRight {
        padding-left: 50px;

        @include media("<=tablet") {
          padding-left: 0;
        }
      }
    }
  }
}